* {
  border-spacing: 0;
  padding: 0;
  /* margin: 0; */
  font-size: 25px;
  font-family: sans-serif;

}

body {
  background: #fbfbfb;
  margin: 0 auto;

}

header {
  text-align: center;
  margin-bottom: 2em;
}


.chess-board {
  border-spacing: 0; 
  border-collapse: collapse; 
  width: 18em; 
  height: 18em; 
}
.chess-board th {  width: 2em; height: 2em;}
.chess-board td { 
  border: 1px solid; 
  width: 2em; 
  height: 2em; 
 
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  /* opacity: 1 !important; */
  transition: all 1s;

}
.cell-hide {
  /* transform: translate(0em ,-25em);
  transition: 0.2s transform; */
  pointer-events: none;
}
.line-hide {
  transform: translate(0em ,25em);
  transition: 0.2s transform;
}
.chess-board .light { background: #eee; }
.chess-board .dark { background: #999; }

.piece {
  position: absolute;
  left: 2em;
  top: 2em;
  width: 2em; 
  height: 2em; 
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(0em ,0em);
  transition: 0.2s transform;

}

.marked {
  
}

.marked::after {
  content: "\25CF";
  font-size: 1.2em;
  line-height: 0;
  position: absolute;
  left: 33%;
  top: 47%;
}

.piece img {
  height: 1.7em; 
}

body {}

.table-container {
  position: relative;
  /* margin: 0 auto; */
  margin-right: 2em;

}

.container {
  /* width: 35em; */
  justify-content: center;
  display: flex;
  gap: 0em;
  margin: 0 auto;
  flex-wrap: wrap;
}



.controls {
  margin: 2em;
 
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 12em;
}

@media only screen and (max-width: 900px) {
  .controls {
    margin-top: 0;
    font-size: 30px;
  }
}

.run-control {
  display: flex;
  justify-content: space-between;
}

.run-control button {
  padding: 0.1em 0.6em;
  border-radius: 4px;
  transition: all 0.5;
}

.run-control button.hide {
  display: none;
}

.speed-control {
  display: flex;
}

.speed-control input {
  flex: 1;
}


.strategy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.strategy-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5em;
  flex: 1;


}
.strategy-indicator {
  flex: 1;
  font-size: 0.8em;
  font-weight: bold;

}

.strategy-selector img {
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  opacity: 0.4;
}

.strategy-selector img:hover {
  /* height: 1.9em; */
  /* height: 1.6em; */
  opacity: 0.6;
}

:checked + img {
  /* height: 1.9em; */
  
  /* height: 4.9em; */
  opacity: 1 !important;
}

:checked + span {
  font-weight: bold;
}
/* .strategy-selector img:active {
  height: 1em;
  fill: red;
} */


.strategy-selector input {
  display: none;
}


polyline {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke: rgba(0,0,0,0.9);
}
.path {
  position: absolute;
  top: 3em;
  left: 3em;
  width:16em;
  height:16em;
}


.solution {
  margin-left: 2em;
  width: 16em;
  text-align: center;
  transform: translate(0em ,-30em);
  transition: 0.2s transform;
}

.solution-list {
  width: 17em;
  display: flex;
  flex-wrap: wrap;
}

.solution-list span{
  font-size: 0.9em;
  width: 1.5em;
}

.solution-found {
  transform: translate(0em ,0em);
}